{% extends 'photos/base.html' %}
{% load static %}
{% block content %}
{{block.super}}
<div class="container-fluid boded">
  <div class="container">
    <h1 class="homeheader">Browse Gallery</h1>
    <hr>
    <div class="all-images">
      {% for img in images %}
      <div class="card" style="width: 22rem;" data-toggle="modal" data-target="#imageModal{{img.id}}">
        <img src="{{ img.photo.url }}" alt="" class='img-fluid' 
          onclick="showModal('{{img.img_name}}','{{img.description}}','{{img.photo.url}}','{{img.category}}','{{img.location.country}}', '{{img.location.city}}','{{img.location.locale}}','{{img.photo.url}}',)" width="200px" height="200px">
      </div>
      {% include 'photos/modal.html'%}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}